<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<icon>
		<small-icon>/images/small.gif</small-icon><!-- 16*16 -->
		<large-icon>/images/large.jpg</large-icon><!-- 32*32 -->
	</icon>
	<!-- display-name元素提供GUI工具可能会用来标记这个特定的Web应用的一个名称 -->
	<display-name>Osight</display-name>
	<!-- description元素给出与此有关的说明性文本 -->
	<description>云游四方的个人网站</description>

	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles-defs.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/applicationContext-album.xml
       </param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<filter>
        <filter-name>InvokeInfoFilter</filter-name>
        <filter-class>com.osight.core.filter.DefaultBindInvokeInfoFilter</filter-class>
	</filter>
	<filter>  
        <filter-name>struts2-cleanup</filter-name>  
        <filter-class>  
            org.apache.struts2.dispatcher.ActionContextCleanUp  
        </filter-class>  
    </filter>  
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>InvokeInfoFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>  
        <filter-name>struts2-cleanup</filter-name>  
        <url-pattern>/*</url-pattern>  
        <dispatcher>REQUEST</dispatcher>    
        <dispatcher>FORWARD</dispatcher>   
    </filter-mapping> 
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>    
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher> 
	</filter-mapping>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.osight.web.servlet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/servlet/upload.servlet</url-pattern>
	</servlet-mapping>

	<error-page>
       <error-code>404</error-code>
       <location>/common/404.html</location>
    </error-page>
<!-- 
    <error-page>
       <exception-type>java.lang.Exception</exception-type>
       <location>/common/error.html</location>
    </error-page>
     -->
</web-app>
