<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- <bean id="dataSource1" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName"> <value>java:jdbc/osight</value> </property> </bean> -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SingleConnectionDataSource"
		destroy-method="destroy">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://42.121.30.206:3306/osight" />
		<property name="suppressClose" value="true" />
		<property name="username" value="root" />
		<property name="password" value="12qwasZX" />
	</bean>
	<!-- Hibernate SessionFactory for Oralce -->
	<!-- Choose the dialect that matches your "dataSource" definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="configLocation">
			<value>hibernate-cfg.xml</value>
		</property>
		<property name="entityInterceptor">
			<bean class="com.osight.framework.hibernate.AuditInterceptor" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_outer_join">false</prop>
			</props>
		</property>
	</bean>
	<bean id="daoInvocationHander" class="java.lang.String">
		<constructor-arg>
			<value>com.osight.framework.hibernate.HibernateDAOInvocationHandler</value>
		</constructor-arg>
	</bean>
	<bean id="dbProvider" class="com.osight.framework.service.HibernateDbProvider">
		<property name="daoInvocationHander">
			<ref local="daoInvocationHander" />
		</property>
	</bean>


	<!-- dao -->
	<bean id="parentDAO" abstract="true">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="userDAO" class="com.osight.core.dao.impl.UserDAOImpl"
		parent="parentDAO" />
	<bean id="lotteryDAO" class="com.osight.core.dao.impl.LotteryDAOImpl"
		parent="parentDAO" />

</beans>
