h2 {
	display: block;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid white;
	border-top: 1px solid white;
	padding: 8px;
	font-size: 20px;
	font-family: 'Microsoft YaHei', Verdana, "BitStream vera Sans";
	background: #EEE;
}

.info {
	padding: 5px;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
}

.item {
	padding-bottom: 5px !important;
	padding-bottom: 15px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 2px #ccc;
	-moz-box-shadow: 0px 0px 5px 2px #ccc;
	-webkit-box-shadow: 0px 0px 5px 2px #ccc;
}

.content {
	padding: 8px;
	line-height: 145%;
	overflow: hidden;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background: white;
	line-height: 22px;
}
.title{
	width: 300px;
}
.fixed, .clear {
	clear:both;
}
div,li{
	margin: 0;
	padding: 0;
}
#commentlist {
	background:#FCFCFC;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	margin:0 -15px;
	padding:0 15px;
}
#commentlist ol, 
#commentlist li {
	list-style:none;
	height: 86px;
}
#thecomments {
	padding-bottom:15px;
	padding-left: 5px;
}
#thecomments,.comment{
	margin-top:15px;
}
.comment .author {
	float:left;
	width:81px;
	text-align:center;
}
.comment .pic {
	background:url(/images/commentpoint.png) 100% 33% no-repeat;
	padding-right:12px;
	margin-top:10px;
}
.comment .name {
	width:67px;
	padding-right:12px;
	font-weight:bold;
	overflow:hidden;
}
.comment .avatar {
	padding:1px;
	border:1px solid #999;
}
.comment .info {
	background:#EDEFF0 url(/images/comment.gif) 0 0 no-repeat;
	float:left;
	padding:10px 15px 0;
	width:830px;
}
.comment .date, 
.trackback .date {
	float:left;
	font-size:10px;
}
.comment .act{
	float:right;
	font-size:10px;
}
.comment .detail {
	background:url(/images/comment.gif) 100% 100% no-repeat;
	margin:0 -15px;
	padding:0 15px;
	line-height:145%;
}
.comment .detail p {
	margin-top:10px;
}
.comment .detail blockquote p {
	margin-top:0;
	margin-bottom:10px;
}
input.textfield, 
textarea {
	background:#FFF;
	border:1px solid #A6A6A6;
	padding:2px 1px;
	font-size:12px;
	font-family:'Microsoft YaHei',Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
}
#newComment .textfield{
	width:200px;
}